/***
 * Custom styles
 *
 */

h2 {
    color: #00d8ff;
    margin-top: 1rem;
}
img.draggable {
    cursor: pointer;
}

.card {
    margin-right: 1rem;
}
.card img {
    max-width: 120px;
}
.card,
.cards-box,
.content-end {
    padding: 1rem;
}
.card.moving {
    border : 2px dashed darkgrey;
    opacity: 0.5;
}
.cards-box {
    background   : #F5F5F5; /* WhiteSmoke */
    margin       : 2rem auto;
    padding-right: 0;
}
.content {
    padding: 3% 12%;
}
.content-end {
    min-height: 5rem;
    min-width : 3rem;
    padding   : 0;
}
.grid {
    display      : grid;
    grid-template: 100% / repeat(4, 25%); /* rows / cols */
}
