/***
 * Reset
 *
 */

 * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    text-align: center;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


/***
 * Generic styles
 *
 */

.bordered {
    border-radius: 5px;
    border: 1px solid grey;
}
.hide {
    display: none;
}
